<%- include('../partials/admin/header'); %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Author</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Author</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          
          <% if (messages.length > 0) { %>
            <div class="mx-5 col-lg-11 alert alert-warning alert-dismissible fade show" role="alert">
              <%= messages %>

              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% } %>

          <div class="col-lg-6">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0">Add Author</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="name">Author Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Salami Harun">
                  </div>

                  <div class="form-group">
                    <label for="email">Author Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="samlak@blogger.inc">
                  </div>

                  <div class="form-group">
                    <label for="bio">Author Bio</label>
                    <textarea class="form-control" id="bio" name="bio" placeholder="Author biography"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="role">Author Role</label>
                    <select class="custom-select" id="role" name="role">
                      <option>Admin</option>
                      <option>Author</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="password">Author Password</label>
                    <input type="password" class="form-control" id="password"  name="password">
                  </div>

                  <div class="form-group">
                    <label for="picture">Author Profile Picture</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary">Create author</button>
                </form>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0">List of Author</h5>
              </div>
              <div class="card-body">
                
                <% if(authors.length > 0) { %>
                  <ul class="list-group list-group-flush">
                    
                    <% for(var i = 0; i < authors.length; i++) { %>
                      <li class="list-group-item"><%= authors[i].name %>
                        <a href="/admin/author/<%= authors[i]._id %>/edit" class="btn btn-secondary btn-sm ml-1">
                          <i class="nav-icon fas fa-pencil-alt"></i>
                        </a>
                        
                        <a href="/admin/author/<%= authors[i]._id %>/delete" class="btn btn-danger btn-sm ml-1">
                          <i class="nav-icon fas fa-trash-alt"></i>
                        </a>
                      </li>
                    <% }  %>
                  </ul>
                <% } %>
                <% if(authors.length == 0) { %>
                  <p class="text-center text-danger text-bold">
                    No author created yet
                  </p>
                <% } %>

              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
<%- include('../partials/admin/footer'); %>
