<%- include('../partials/admin/header'); %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Category</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Category</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          
          <% if (categoryCreated.length > 0) { %>
            <div class="mx-5 col-lg-11 alert alert-warning alert-dismissible fade show" role="alert">
              <%= categoryCreated %>

              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% } %>
          
          <% if (categoryDeleted.length > 0) { %>
            <div class="mx-5 col-lg-11 alert alert-warning alert-dismissible fade show" role="alert">
              <%= categoryDeleted %>

              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% } %>
          
          <% if (categoryUpdated.length > 0) { %>
            <div class="mx-5 col-lg-11 alert alert-warning alert-dismissible fade show" role="alert">
              <%= categoryUpdated %>

              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% } %>

          <div class="col-lg-6">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0">Add Category</h5>
              </div>
              <div class="card-body">
                <form method="POST" action="">
                  <div class="form-group">
                    <label for="name">Category Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Football">
                  </div>

                  <div class="form-group">
                    <label for="description">Category description</label>
                    <textarea class="form-control" id="description" name="description" placeholder="Category description"></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">Create Category</button>
                </form>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0">List of Category</h5>
              </div>
              <div class="card-body">
                <% if(categories.length > 0) { %>
                  <ul class="list-group list-group-flush">
                    
                    <% for(var i = 0; i < categories.length; i++) { %>
                      <li class="list-group-item"><%= categories[i].name %>
                        <a href="/admin/category/<%= categories[i]._id %>/edit" class="btn btn-secondary btn-sm ml-1">
                          <i class="nav-icon fas fa-pencil-alt"></i>
                        </a>
                        
                        <a href="/admin/category/<%= categories[i]._id %>/delete" class="btn btn-danger btn-sm ml-1">
                          <i class="nav-icon fas fa-trash-alt"></i>
                        </a>
                      </li>
                    <% }  %>
                  </ul>
                <% } %>
                <% if(categories.length == 0) { %>
                  <p class="text-center text-danger text-bold">
                    No category created yet
                  </p>
                <% } %>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
<%- include('../partials/admin/footer'); %>
