<%- include('../partials/blog/header', {title: articles[1].name}); %>

  <!--Section: Jumbotron-->
  <section class="card blue-gradient wow fadeIn">

    <!-- Content -->
    <div class="card-body text-white text-center py-5 px-5 my-5">

      <h1 class="mb-4">
        <strong><%= articles[1].name %></strong>
      </h1>
      <p>
        <strong><%= articles[1].description %></strong>
      </p>

    </div>
    <!-- Content -->
  </section>
  <!--Section: Jumbotron-->

  <!--Section: Cards-->
  <section class="pt-5">

    <% if(articles[0].length > 0) { %>
      <% for(var i = 0; i < articles[0].length; i++) { %>
        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-5 col-xl-4 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
              <% if(articles[0][i].image){ %>
                <img src="<%= publicPath %>upload/<%= articles[0][i].image %>" height="200px" width="100%" alt="Featured Image">
              <% } %>
          
              <% if(!articles[0][i].image){ %>
                <img src="<%= publicPath %>upload/default/image.png" height="200px" width="100%" alt="Featured Image">
              <% } %>

              <a href="/article/<%= articles[0][i].slug %>">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
            <h3 class="mb-3 font-weight-bold dark-grey-text">
              <strong><%= articles[0][i].title %></strong>
            </h3>
            <p class="grey-text"> <%= articles[0][i].content %></p>
            <a href="/article/<%= articles[0][i].slug %>" class="btn btn-primary btn-md">Read More</a>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
        <hr class="mb-5">   
      <% }  %>
        
      <!--Pagination-->
        <%- include('../partials/custom/pagination'); %>
      <!--Pagination-->
    <% }  %>
    
    <% if(articles[0].length == 0) { %>
      <p class="text-bolder text-center text-danger"><strong> No article for this category </strong></p>
    <% }  %>


  </section>
  <!--Section: Cards-->

<%- include('../partials/blog/footer'); %>